<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Franquicia.DataAccess.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-4JRL7H9;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>